<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Camera Neyder
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-card-header>
        Camera Tuto
      </ion-card-header>
      <ion-card-content>
        <ion-button (click)="takePicture()" icon-right block color="tertiary">
          Tomar Foto
          <ion-icon name="camera"></ion-icon>
        </ion-button>
        <img [src]="base64Image">
      </ion-card-content>
    </ion-card>
</ion-content>
